Repository cisagov/skeleton-ansible-role-with-test-user, pull requests merged in 2025-03, with the labels that each got.

#182 Support new COOL environment structure
  .github/workflows/build.yml
  .gitignore
  README.md
  molecule/default/converge.yml
  terraform/backend.tf
  terraform/outputs.tf
  terraform/providers.tf
  terraform/remote_states.tf
  terraform/user.tf
  terraform/variables.tf
Labels: improvement, terraform, github-actions

#184 Sort inputs/outputs, add nullable key, and remove dummy SSM parameter
  terraform/outputs.tf
  terraform/user.tf
  terraform/variables.tf
Labels: improvement, terraform

#186 Remove example code that is no longer necessary
  .github/workflows/build.yml
  molecule/default/converge.yml
Labels: improvement, kraken 🐙

#187 Add comments suggesting what needs to be done for roles that require the third-party bucket
  molecule/default/converge.yml
  terraform/user.tf
Labels: documentation, kraken 🐙
